{% extends 'base.html' %}

{% block content %}

    <h1>Make Your Blog! </h1>
    {% if user.is_authenticated %}
        <a href="{% url 'new' %}">새로운 글 작성하기</a>
        <h2>블로그 글 목록</h2>
        <br>
        {% for post in blogs %}
            <a href="{% url 'detail' post.id %}">
                제목 : {{post.title}}
            </a>
            <br>
                작성자 : {{post.writer}}
            <hr>
                본문 : {{post.body}}
            <br><br>
        {% endfor %}
        {% for number in page_number%}
            <a href='?page={{number}}'>{{number}}</a>
        {% endfor %}
    {% else %}
        <h1>회원가입 또는 로그인을 해주세요~</h1>
    {% endif %}

{% endblock %}